[submodule "Zigbee"]
	path = Zigbee
	url = https://github.com/siliconlabs-southemea/ZigbeeDocumentation.git
[submodule "OpenThread"]
	path = OpenThread
	url = https://github.com/siliconlabs-southemea/OpenThreadDocumentation.git
[submodule "EnergyHarvesting"]
	path = EnergyHarvesting
	url = https://github.com/siliconlabs-southemea/EnergyHarvestingDocumentation.git
[submodule "Bluetooth"]
	path = Bluetooth
	url = https://github.com/siliconlabs-southemea/BluetoothDocumentation.git
[submodule "DevTools"]
	path = DevTools
	url = https://github.com/siliconlabs-southemea/DevToolsDocumentation.git
[submodule "WiFi"]
	path = WiFi
	url = https://github.com/siliconlabs-southemea/WiFiDocumentation.git
[submodule "ProprietaryRF"]
	path = ProprietaryRF
	url = https://github.com/siliconlabs-southemea/ProprietaryRFDocumentation.git
[submodule "MCUPeripherals"]
	path = MCUPeripherals
	url = https://github.com/siliconlabs-southemea/MCUPeripheralsDocumentation.git
