[submodule "Zigbee"]
	path = Zigbee
	url = https://github.com/brian-silabs/ZigbeeDocumentation.git
[submodule "OpenThread"]
	path = OpenThread
	url = https://github.com/brian-silabs/OpenThreadDocumentation.git
[submodule "EnergyHarvesting"]
	path = EnergyHarvesting
	url = https://github.com/brian-silabs/EnergyHarvestingDocumentation.git
[submodule "Bluetooth"]
	path = Bluetooth
	url = https://github.com/brian-silabs/BluetoothDocumentation.git
[submodule "DevTools"]
	path = DevTools
	url = https://github.com/brian-silabs/DevToolsDocumentation.git
[submodule "WiFi"]
	path = WiFi
	url = https://github.com/brian-silabs/WiFiDocumentation.git
